language: node_js
node_js: stable
branches:
    only:
        - master
before_install:
    - git config --global user.name "luisleee"
    - git config --global user.email "luisleee@126.com"
    - sudo apt update 
    - sudo apt install wine64 -y
install:
    - npm install
    - npm install electron-packager -g
script:
    - npm run build
deploy:
    provider: releases
    api_key: $GITHUB_TOKEN
    file: "out/*.zip"
    skip_cleanup: true
    on:
        tags: true
