os: linux
dist: bionic
sudo: true
language: node_js
node_js: stable
branches:
    only:
        - master
before_install:
    - git config --global user.name "luisleee"
    - git config --global user.email "luisleee@126.com"
    - sudo apt update
    - sudo apt install wine-stable -y
install:
    - npm install
    - npm install electron-packager -g
script:
    - npm run build
before_deploy:
    - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
    - git tag $TRAVIS_TAG
deploy:
    provider: releases
    token: $GITHUB_TOKEN
    skip_cleanup: true
    file:
        - "out/oi-14-linux-ia32.zip"
        - "out/oi-14-linux-x64.zip"
        - "out/oi-14-win32-ia32.zip"
        - "out/oi-14-win32-x64.zip"
        - "out/oi-14-darwin-x64.zip"
