name: Generate

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Generate packages
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "12"
      
      - name: Setup git
        run: |
          git config --global user.name "luisleee"
          git config --global user.email "luisleee@126.com"
      
      - name: Install apt packages
        run: |
          sudo apt update
          sudo apt install wine-stable -y
      
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install npm packages
        run: |
          npm install electron-packager -g
          npm install

      - name: Build
        run: |
          npm run build

      - name: Tagging
        run: |
          export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
          git tag $TRAVIS_TAG
      
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false
          files: |
            "./out/oi-14-linux-x64.zip"
            "./out/oi-14-win32-ia32.zip"
            "./out/oi-14-win32-x64.zip"
            "./out/oi-14-darwin-x64.zip"

      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path:
            - ./out/oi-14-linux-x64.zip
            - ./out/oi-14-win32-ia32.zip
            - ./out/oi-14-win32-x64.zip
            - ./out/oi-14-darwin-x64.zip
          asset_name:
            - oi-14-linux-x64.zip
            - oi-14-win32-ia32.zip
            - oi-14-win32-x64.zip
            - oi-14-darwin-x64.zip
          asset_content_type: application/zip
